#bcPopoverFog {
    z-index: 1;
    background-color: #eee;
    height: 100%;
    width: 100%;
    opacity: 0.35;
    position: absolute;
}

#bcPopover {
    z-index: 2;
    position: absolute;
    visibility: hidden;
}